/* Start Variables */
:root {
    --main-color: rgb(18, 17, 17);
    --secondary-color: #535353;
    --third-color: #DEC700;
    --fourth-color: #232323;
    --main-transition: 0.3s;
    --section-padding: 100px;
}
/* End Variables */

/* ================= Start Global Styling ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--main-color);
    overflow-x: hidden;
    height: 10000px;
}

p {
    font-weight: 600;
}

span.new {
    font-size: 20px;
    font-weight: bold;
}

span.old {
    text-decoration: line-through;
    opacity: 0.8;
}

button.buy {
    padding: 10px 20px;
    background-color: var(--third-color);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    box-shadow: 0px 10px 10px -7px black;
    opacity: 0.8;
}

button.buy:hover {
    opacity: 1;
}

.card {
    background-color: var(--fourth-color);
}

.card img {
    width: 100%;
}

.card .text {
    padding: 15px;
}

.card .text h4 {
    margin-bottom: 10px;
    font-weight: 600;
}

.card .text p {
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.card .text span.old {
    display: inline-block;
    margin-left: 20px;
}

.card .text .purchase {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

@media (max-width: 345px) {
    .card .text .purchase {
        flex-direction: column;
    }
}

.card .text .purchase .cart {
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 15px;
}

.card .text .purchase .cart i {
    cursor: pointer;
}


/* Start Section Heading Styling */
.section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    color: white;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

@media (max-width: 330px) {
    .section-heading {
        flex-direction: column;
    }
}

.section-heading h3 {
    font-size: 24px;
}

@media (max-width: 330px) {
    .section-heading h3 {
        font-size: 18px;
    }
}

.section-heading button {
    color: white;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

@media (max-width: 330px) {
    .section-heading button {
        font-size: 14px;
    }
}

.section-heading button i {
    animation: go-right 1s ease-in-out infinite alternate ;
    -webkit-animation: go-right 1s ease-in-out infinite alternate ;
}

@keyframes go-right {
    0% {
        translate: 0 0;
    }
    100% {
        translate: 10px 0;
    }
}
/* End Section Heading Styling */

/* ================= End Global Styling ================= */


/* Default (mobile-first) */
.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* Small devices (≥576px) */
@media (min-width: 576px) {
    .container {
        width: 540px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
    .container {
        width: 720px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
    .container {
        width: 960px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
    .container {
        width: 1140px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* Extra extra large devices (≥1400px) */
@media (min-width: 1400px) {
    .container {
        width: 1320px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* Start Nav */
nav {
    background-color: var(--main-color);
    padding: 20px 0px;
    color: white;
    box-shadow: black 0px 0px 15px 0px;
    z-index: 3;
    position: relative;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

nav .container>a {
    text-decoration: none;
    color: white;
}

nav h1,
nav p {
    margin: 0;
    color: white;
    font-size: 32px;
    letter-spacing: -2px;
}

nav h1 {
    font-weight: bold;
}

nav p {
    font-family: "Sacramento", cursive;
    font-weight: 100;
}


@media(max-width: 278px) {
    nav .container {
        flex-direction: column;
    }
}

nav .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    position: relative;
}

@media (max-width: 767px) {
    nav .options {
        gap: 15px;
    }
}

nav .bar-icon {
    font-size: 25px;
    cursor: pointer;
    display: none;
}

@media (max-width: 767px) {
    nav .bar-icon {
        display: block;
    }
}

nav .options .links {
    display: flex;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
    nav .options .links {
        display: none;
    }

    /* hover */
    nav .bar-icon+.links {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: rgb(59, 59, 59);
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        top: calc(100% + 50px);
        min-width: 155px;
        visibility: hidden;
        opacity: 0;
    }

    nav .bar-icon+.links a:not(:last-child) {
        border-bottom: 1px solid silver;
    }

    nav .bar-icon+.links::before {
        position: absolute;
        content: "";
        top: -25px;
        left: 2px;
        border-width: 10px 15px 15px 15px;
        border-style: solid;
        border-color: transparent transparent rgb(59, 59, 59) transparent;
    }

    nav .bar-icon:hover+.links,
    nav .bar-icon+.links:hover {
        top: calc(100% + 15px);
        visibility: visible;
        opacity: 1;
    }
}

nav .options .links a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

@media(max-width: 575px) {
    nav .options .links {
        right: 10px;
        border-top-left-radius: 6px;
    }

    nav .bar-icon+.links::before {
        left: 35px;
    }
}

@media(max-width: 278px) {
    nav .options .links {
        right: -24px;
        border-top-left-radius: 0;
    }

    nav .bar-icon+.links::before {
        left: 0;
    }
}

@media(min-width: 768px) {
    nav .options .links a::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        height: 2px;
        width: 0px;
        background-color: white;
        transition: var(--main-transition);
        -webkit-transition: var(--main-transition);
        -moz-transition: var(--main-transition);
        -ms-transition: var(--main-transition);
        -o-transition: var(--main-transition);
    }

    nav .options .links a:hover::before {
        width: calc(100% - 15px);
    }
}

@media(max-width: 767px) {
    nav .options .links a:hover {
        margin-left: 5px;
    }
}

@media (max-width: 767px) {
    nav .options .icons {
        border-left: 1px solid white;
        padding-left: 15px;
    }
}

nav .options .icons i {
    cursor: pointer;
    position: relative;
    padding: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav .options .icons i:hover {
    background-color: white;
    color: var(--main-color);
}

nav .options .icons i.bag.notification::after {
    content: "";
    position: absolute;
    top: calc(100% - 15px);
    left: calc(100% - 15px);
    width: 10px;
    height: 10px;
    background-color: var(--third-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* End Nav */

/* Start Landing Section */
.landing {
    height: fit-content;
    background-image: radial-gradient(rgb(57 57 70) 0%, #000);
    position: relative;
}

/* Fixed Social Media ( Scroll ) */
.side-media {
    background-color: var(--third-color);
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 25px;
    font-size: 20px;
    right: -10px;
    top: calc(108px + 70px);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    height: 210px;
    justify-content: center;
    z-index: 2;
}

@media (max-width: 767px) {
    .side-media {
        padding: 0 20px;
        height: 150px;
    }
}

.side-media i {
    color: white;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: var(--main-transition);
}

.side-media a:hover i.insta {
    color: #ee29ee;
}

.side-media a:hover i.face {
    color: #1877f2;
}

.side-media a:hover i.x {
    color: #000000;
}

/* Landing Background */
.landing .container .landing-background {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .landing .container .landing-background {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .landing .container .landing-background {
        height: calc(100vh - 260px);
    }
}

.landing .container .landing-background .fruit-title {
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: calc(var(--section-padding) * 2);
    gap: 10px;
    z-index: 1;
    height: fit-content;
}

@media (max-width: 767px) {
    .landing .container .landing-background .fruit-title {
        padding-top: var(--section-padding);
    }
}

.landing .container .landing-background .fruit-title .progress {
    font-size: 20px;
    font-weight: bold;
}

.landing .landing-background .fruit-title .progress span:first-child {
    opacity: 0.5;
}

@media (max-width: 767px) {
    .landing .landing-background .fruit-title .progress span:first-child {
        opacity: 0.8;
    }
}

.landing .landing-background .fruit-title h3 {
    font-size: 20px;
}

.landing .landing-background .fruit-title p {
    max-width: 274px;
    color: var(--secondary-color);
}

@media (max-width: 767px) { 
    .landing .landing-background .fruit-title p {
        font-size: 14px;
    }    
}

@media (max-width: 1199px) {
    .landing .landing-background .fruit-title p {
        color: white;
        font-weight: bold;
    }
}

.landing .landing-background img {
    width: 483px;
    height: 673px;
}

@media (max-width: 1199px) {
    .landing .landing-background img {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        opacity: 0.5;
    }
}

.landing .landing-background .fruit-info {
    display: flex;
    align-items: flex-end;
}

.landing .landing-background .fruit-info .text {
    color: white;
    z-index: 1;
}


.landing .landing-background .fruit-info .text h2 span:not(.different) {
    font-size: 64px;
}

@media (max-width: 767px) { 
    .landing .landing-background .fruit-info .text h2 span:not(.different) {
        font-size: 32px;
    }
}

.landing .landing-background .fruit-info .text h2 span.different {
    font-family: "Sacramento", cursive;
    color: var(--third-color);
    font-size: 16px !important;
    margin-left: 10px;
}

.landing .landing-background .fruit-info .text p {
    font-size: 16px;
    color: var(--secondary-color);
    margin-top: 20px;
    max-width: 350px;
}

@media (max-width: 767px) {
    .landing .landing-background .fruit-info .text p {
        font-size: 16px;
    }
}

@media (max-width: 1199px) {
    .landing .landing-background .fruit-info .text p {
        color: white;
        font-weight: bold;
    }
}

/* Landing Offers */
.landing-offers {
    width: 100%;
    height: fit-content;
    background-color: rgb(39 39 39 / 80%);
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
}

@media (max-width: 1199px) {
    .landing-offers {
        flex-direction: column;
    }
}

.landing-offers .offer {
    display: flex;
    flex: 1;
    position: relative;
}

@media (max-width: 1199px) {
    .landing-offers .offer {
        height: 100px;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .landing-offers .offer {
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .landing-offers .offer:not(:last-child) {
        border-bottom: 2px solid var(--secondary-color);
        padding-bottom: 20px;
    }
}

@media (max-width: 513px) {
    .landing-offers .offer::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
    }
    .landing-offers .offer:first-child:before {
        background-image: url(../images/orange.jpg);
    }
    .landing-offers .offer:last-child:before {
        background-image: url(../images/melon.jpg);
    }
}

.landing-offers .offer img {
    height: 100%;
    width: 250px;
}

@media (max-width: 1199px) {
    .landing-offers .offer img {
        width: 175px;
    }
}

@media (max-width:767px) {
    .landing-offers .offer img {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

@media (max-width: 513px) {
    .landing-offers .offer img {
        display: none;
    }
}

.landing-offers .offer .info {
    display: flex;
    flex: 1;
    gap: 10px;
    position: relative;
}

@media (max-width: 767px) {
    .landing-offers .offer .info {
        flex-direction: column;
    }
}

.landing-offers .offer .info .text {
    padding: 25px 10px 25px 25px;
    
}

@media (max-width: 1399px) {
    .landing-offers .offer .info .text {
        max-width: 205px;
    }
}

@media (max-width: 1199px) {
    .landing-offers .offer .info .text {
        padding: 15px 5px 15px 15px;
        max-width: none;
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 991px) {
    .landing-offers .offer .info .text {
        display: block;
    }
}

@media (max-width: 767px) {
    .landing-offers .offer .info .text {
        padding: 15px;
    }
}

.landing-offers .offer .info .text h3 {
    font-weight: normal;
    color: white;
    margin-bottom: 10px;
}

.landing-offers .offer .info .text p.description {
    max-width: 250px;
    color: var(--secondary-color);
}


.landing-offers .offer .info .text p.feature {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--secondary-color);
    max-width: 200px;
}

@media (max-width: 991px) {
    .landing-offers .offer .info .text p.description,
    .landing-offers .offer .info .text p.feature {
        max-width: 420px;
    }
}

@media (max-width: 513px) {
    .landing-offers .offer .info .text p.description,
    .landing-offers .offer .info .text p.feature {
        color: white;
    }
}

.landing-offers .offer .info .text .bullets {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
} 

.landing-offers .offer .info .text .bullets .bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid var(--secondary-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    cursor: pointer;
} 

.landing-offers .offer .info .text .bullets .bullet.active,
.landing-offers .offer .info .text .bullets .bullet:hover {
    background-color: white;
    border-color: white;
}

@media (max-width: 513px) {
    .landing-offers .offer .info .text .bullets .bullet{
        border-color: white;
    }
}

.landing-offers .offer .info .price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.landing-offers .offer .info .price-text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}
/* End Landing Section */

/* Start Favorite Section */
.favorite {
    padding-top: var(--section-padding);
}

.favorite .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    color: white;
}

@media(max-width: 330px) {
    .favorite .content {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
/* End Favorite Section */

/* Start Fruit Shop */
.shop {
    padding-top: var(--section-padding);
}

.shop .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    color: white;
}

@media(max-width: 330px) {
    .shop .content {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

/* note: the styling of cards is in global styling
( go to the beginning of this file ) */

/* End Fruit Shop */